/* variabler */
:root {
    --main_color: #ECEAF3;
    --footer_color: #29171F;
    --header_color: #3F395C;
    --alfabet_color: #703882;
    --button_color: #934B6B;
}

/* Body */
body {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

/* Fonts */

body {
    font-size: 20px;
    /* font-family: 'Shadows Into Light Two', cursive; */
    font-family: 'Cousine', monospace; 
}
h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

/* buttons */

button {
    color: var(--main_color);
    transition: all .2s ease;
    font-family: 'Cousine', monospace;
    font-size: 1.2rem;
    border-radius: .5rem;
    box-shadow: 1px 4px 5px #000;
    margin: .5rem .5rem;
    height: 2.5rem;
}
 button:hover {
    filter: brightness(1.3);
    box-shadow: 0px 2px 5px #261f3f;
    cursor: pointer;
}
.hero_buttons > button:active {
    border: 2px inset #88878b;
}
 button:focus {
    outline: none;
} 
  .hero_buttons {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero_buttons > button {
    background-color: var(--button_color);
    border: 2px inset #88878b00;
    outline: 0;
    width: 6rem;
  }
.alfabetet > button {
    background-color: var(--alfabet_color);
    width: 2.5rem;  
}

/* Header */

.hero {
    height: 40vh;
    background-image: url("/IMG/hangman_poster.png");
    background-size: cover;
    background-color: var(--header_color);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

/* Poäng */

/* Lives */

.lives-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.lives-box-h2 {
    justify-self: start;
    color: var(--header_color);
    font-size: 1rem;
}
.life {
    height: 1rem;
    width: 1rem;
    margin: 0.1rem;
    border-radius: 100%;
    background-color: var(--header_color);
    transition: opacity 1s ease-in-out;
}
#poangraknare, .ordbox {
    transition: all .3s ease;
}
#poangraknare, #antal-omgångar, #vunna-omgångar {
    color: var(--header_color);
}
.poang {
    margin-top: 1rem;
}
/* Main */

main {
    min-height: 400px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    background-color: var(--main_color); 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "ordbox ordbox"
    "alfabetet hangman";
    
    transition: background-color 2s ease;
}
.alfabetet {
    grid-area: alfabetet;
    display: flex;
    flex-direction: row;
    row-gap: 0;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0;
    height: 400px;
    
}
.hangman {
    grid-area: hangman;
    width: 100%;
    transition: all 1s ease;
    z-index: 1;
    max-height: 400px;
}

.ordbox {
    grid-area: ordbox;
    height: 3rem;
    width: 100%;
    min-height: 3rem;
    background-color: var(--button_color);
    box-shadow: 1px 4px 5px #000;
    border-radius: 10px;
    margin: 1rem auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: var(--main_color);
}





.anvanda-bokstaver {
    transition: 3s ease-in-out .5s;
}

.game-over, .game-won {
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative; 
    z-index: 9999;
}

.game-over {
    background-image: url(/IMG/dead.svg);
    
}

.game-won {
    background-image: url(/IMG/smiling.svg);
    
}

.game-over-top, .game-won-top {
     opacity: 0.5;
    position: relative;
    z-index: 998;

}

.game-over-top::before,.game-won-top::before {
    font-size: 3rem;
    color: var(--footer_color);
    background-color:var(--main_color);
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0rem;
    height: auto;
    z-index: 999;
}
.game-over-top::before {
    content: 'GAME OVER!';
}
.game-won-top::before {
    content: 'YOU WON!';
}

/* Footer */

footer {
    width: 100%;
    height: 4rem;
    background-color: var(--header_color);
}

.klickad {
    opacity: 0.5;
    cursor: default;
}

.synlig {
    fill: #423280;
    stroke: #423280;
    fill: #261f3f;
    stroke: #261f3f;
    transition: all .3s ease-in;
}

.nedräknings-container {
    max-width: 100%;
    min-height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main_color); 
}


#fem-min, #tre-min {

    height: 0;
    border: 0;
    font-size: 0;
    background: 0;
}
.nedräkning {
    transition: all .3s ease-in;
}
.nedräkning.synlig {
    align-items: center;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    font-size: 2rem;
    letter-spacing: .2rem;
    text-shadow: 0px 0px 3px rgb(243, 241, 241);
    transition: all .3s ease-in;
    z-index: 0;
}
.poäng-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
    margin-top: 0;
}
.nedräkning h1 {
    font-size: 1.5rem;
    color: var(--footer_color);
}
.nedräknings-siffror {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: background-color 1s ease-in;
}
.nedräknings-siffror > article {
    margin: 1rem;
}

.klickad:hover, .oklickbar:hover {
    cursor: default;
    cursor: not-allowed;
    filter: brightness(1);
}

.klickad:active, .oklickbar:active {
    border-width: 2px;
    border-style: outset;
    border-bottom-color: rgb(10, 10, 10); 
    border-right-color: rgb(10, 10, 10);
    border-left-color: grey;
    border-top-color: grey;
}