/* variabler */
:root {
    --main_color: #ECEAF3;
    --footer_color: #29171F;
    --header_color: #6B5EA5;
    --alfabet_color: #703882;
    --button_color: #934B6B;
}

/* Body */
body {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

/* Fonts */

body {
    font-size: 20px;
    font-family: 'Shadows Into Light Two', cursive;
}
.alfabetet > button, .hero_buttons > button {
    font-family: 'Cousine', monospace;
    font-size: 1.2rem;
}
/* Buttons */
  .hero_buttons {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero_buttons > button {
    background-color: var(--button_color);
    border: none;
    border-radius: .5rem;
    box-shadow: 1px 4px 5px #000;
    outline: 0;
    margin: 0 .5rem;
    padding: .5rem 1.5rem;
    text-align: center;
    color: black;
    cursor: pointer;
  }
  
  .hero_buttons > button:hover {
    background-color: var(--alfabet_color);
    color: white;
  }

.alfabetet > button {
    border-radius: .5rem;
    box-shadow: 1px 4px 5px #000;
    background-color: var(--alfabet_color);
    color: white;
    width: 3rem;
    height: 3rem; 
    margin: 0 .5rem; 
}

/* Header */

.hero {
    height: 50vh;
    background-image: url(/IMG/poster.png);
    background-size: cover;
    background-color: var(--header_color);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
.hero img {
    opacity: 0.5;
}
/* aside */
.dold_text {
    height: 3rem;
    padding: 1rem;
    margin: 1rem;
}
/* Main */
main {
    padding: 1rem;
    background-color: var(--main_color);
    display: grid;
    grid-template-areas: 
    "alfabetet hangman";
    
}
.alfabetet {
    grid-area: alfabetet;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    width: 100%;
}
.hangman {
    grid-area: hangman;
    width: 100%;
}
.ordbox {
    min-height: 4rem;
    background-color: var(--button_color);
    box-shadow: 1px 4px 5px #000;
    border-radius: 10px;
    margin: 0 .5rem; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ordbox > article {
    height: 3rem;
    width: 3rem;
    border-bottom: 3px solid black;
}
.poang {
    margin-top: 1rem;
}


.svg-hela {
    max-height: 50vh;
}
.anvanda-bokstaver {
    transition: 2s ease-in-out .5s;
}
.game-over {
    background-image: url(/IMG/dead.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.game-over::before {
    content: 'GAME OVER!';
    font-size: 3rem;
    color: rgb(141, 9, 9);
    text-shadow: 0px 2px 2px #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 3rem;
    height: auto;
    z-index: 999;
}

/* Footer */

footer {
    width: 100%;
    height: 4rem;
    background-color: var(--footer_color);
}

.klickad {
    opacity: 0.5;
}

.synlig {
    fill: #423280;
    stroke: #423280;
    fill: #261f3f;
    stroke: #261f3f;
    
    transition: all .3s ease-in;
}


.nedräkning {
    padding: 1rem;
    border-radius: 5px;
    width: 30vw;
    min-width: 300px;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem auto;
    font-size: 3rem;
    text-shadow: 0px 0px 3px rgb(243, 241, 241);
    transition: all .3s ease-in;
}

.nedräkning > button {
    border-radius: 100%;
    background-color: rgb(48, 49, 49);
    color: white;
    border: none;
    height: 50px;
    width: 50px;
}

.nedräkning > button:hover {
    filter: brightness(1.3);
    box-shadow: 0px 2px 5px #261f3f;
}
.nedräkning > button:focus {
    outline: none;
} 
